body {
    --table-cell-vertical-alignment: middle;
    --inline-title-size: var(--h2-size);
}

/* .workspace-tab-header,
.workspace-tab-header-inner,
.workspace-tab-container-before,
.workspace-tab-container-after {
    transition: background-color 100ms linear;
} */

.markdown-preview-view ol > li,
.markdown-preview-view ul > li {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.markdown-rendered table {
    margin-block-start: var(--size-4-2);
    margin-block-end: var(--size-4-2);
}

.markdown-rendered table,
.markdown-source-view.mod-cm6 .cm-table-widget .table-wrapper {
    width: 100%;
}

.cm-html-embed td,
.markdown-rendered td,
.cm-html-embed th,
.markdown-rendered th,
.markdown-source-view.mod-cm6 .cm-table-widget .table-cell-wrapper {
    padding: var(--size-4-2);
}

.markdown-rendered h2,
.HyperMD-header-2 {
	border-bottom: 4px dotted color-mix(in srgb, var(--hr-color), white 20%);
    padding-bottom: calc(var(--p-spacing) / 2) !important;
}
